



.movie {
    background: white;
    justify-content: space-between;
    .image{
        height: 310px;
        border: 20px solid midnightblue;
        width: 350px;
        
    }

   
    .details {
        font-size: 25px;
        margin-left: 12px;
        .title {
            color:black;
            font-size: 24px;
            font-weight: bold;
            font-style: italic;
            

        }
        .year {
            color:black;
            font-size: 24px;
            font-weight: bold;
            font-style: italic;
            
        }
        .ratings {
            color:black;
            font-size: 24px;
            font-weight: bold;
            font-style: italic;
            
        }
        .id{
            color:black;
            font-size: 24px;
            font-weight: bold;
            font-style: italic;
            
        }
        
    
    }
}

